h1 {
  margin: 30px 0;
}

.container {
  padding: 40px 15px;
}

#menu td {
  text-transform: capitalize;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
