@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900|Open+Sans:300,300i,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i");
/* -------------------------------- 
Navigation
-------------------------------- */
.my-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .my-header {
    height: 70px;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#my-logo {
  width: 25%;
  max-width: 320px;
  position: relative;
  margin: 0 auto;
}

#my-logo img {
  display: block;
}

@media only screen and (min-width: 1170px) {
  #my-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
  }
  #my-logo.is-hidden.slide-in {
    /* slide in when the main navigation gets fixed */
    width: 180px;
    margin-top: -15px;
    left: 1%;
    opacity: 1;
    -webkit-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
}

/* -------------------------------- 
contact
-------------------------------- */
#my-contact {
  position: relative;
  height: 300px;
  background-position: center center;
  background-size: cover;
  z-index: 2;
}

#my-contact::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

#my-contact #my-contact-address {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}

#my-contact h1 {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#my-contact h2 {
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 600;
}

#my-contact h2 a {
  color: skyblue;
}

#my-contact h2:hover a {
  color: #092645;
}

@media only screen and (min-width: 768px) {
  #my-contact {
    height: 400px;
    z-index: 4;
  }
  #my-contact #my-contact-address {
    padding-top: 160px;
  }
  #my-contact h1 {
    font-size: 32px;
    font-size: 2rem;
  }
  #my-contact h2 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  #my-contact {
    height: 600px;
  }
  #my-contact #my-contact-address {
    padding-top: 250px;
  }
}

.my-btn {
  display: inline-block;
  padding: 1em 1.6em;
  margin-top: 0.9em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1.5px solid #ffffff;
  color: white;
}

.no-touch .my-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media only screen and (min-width: 1170px) {
  .my-btn {
    padding: 1em 1.8em;
    z-index: 5;
  }
  .my-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .8em 1.2em;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  .my-btn.is-hidden.slide-in {
    /* slide in when the main nav gets fixed */
    margin-top: 10px;
    right: 5%;
    opacity: 1;
  }
}

/* -------------------------------- 
main Fixed Navigation
-------------------------------- */
.my-main-nav {
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-main-nav ul {
  /* mobile first - main navigation hidden by default, triggered by tap/click on .my-main-nav-trigger*/
  position: fixed;
  list-style-type: none;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: #e32929;
  visibility: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: visibility 0s 0.3s, -webkit-transform 0.3s;
  transition: visibility 0s 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: -5px 5px 20px -8px #000000;
          box-shadow: -5px 5px 20px -8px #000000;
}

.my-main-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s 0s, -webkit-transform 0.3s;
  transition: visibility 0s 0s, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s, -webkit-transform 0.3s;
}

.my-main-nav ul span {
  display: none;
}

.my-main-nav li a {
  display: block;
  padding: 1.6em;
  color: #ffffff;
}

.my-main-nav li a:hover b,
.my-main-nav li a.active b {
  font-weight: 800;
  border-bottom: 1.5px dashed;
}

@media only screen and (min-width: 1170px) {
  .my-main-nav {
    z-index: 1;
    height: 100px;
    background-color: #e32929;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }
  .my-main-nav nav,
  .my-main-nav ul,
  .my-main-nav li,
  .my-main-nav a {
    height: 100%;
  }
  .my-main-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  .my-main-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .my-main-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 58px 40px 0 40px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  .my-main-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: #f0eee1;
  }
  .my-main-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .my-main-nav.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  .my-main-nav.is-fixed.animate-children {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .my-main-nav.is-fixed.animate-children li a {
    padding: 26px 30px 0 30px;
  }
  .my-main-nav.is-fixed.animate-children li a span {
    opacity: 0;
  }
}

.my-main-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: #e32929;
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-box-shadow: 0px 2px 15px -3px #000000;
          box-shadow: 0px 2px 15px -3px #000000;
  z-index: 2;
}

.my-main-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.my-main-nav-trigger span::before, .my-main-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.my-main-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.my-main-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.my-main-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}

.my-main-nav-trigger.menu-is-open span::before, .my-main-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}

.my-main-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.my-main-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

@media only screen and (min-width: 1170px) {
  .my-main-nav-trigger {
    display: none;
  }
}

footer {
  text-align: center;
}

footer span {
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
  opacity: 0.75;
  letter-spacing: 1px;
}

/* -------------------------------- 
Primary style
-------------------------------- */
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #030d18;
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

/* -------------------------------- 
Modules 
-------------------------------- */
.my-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  margin: 0 auto;
}

@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
            animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

/* -------------------------------- 
Sections
-------------------------------- */
.my-section {
  margin: 0 auto;
  padding: 2em 0;
  width: 100%;
}

.my-section h2 {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: .6em;
  font-family: "Lobster Two", cursive;
  font-style: italic;
  font-weight: 800;
  color: black;
}

.my-section h3 {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}

.my-section p {
  line-height: 1.6;
  font-size: 0.9rem;
}

@media only screen and (min-width: 1170px) {
  .my-section {
    margin: 0 auto;
    padding: 4em 0;
  }
  .my-section h2 {
    font-size: 30px;
    font-size: 3rem;
  }
  .my-section p {
    font-size: 20px;
    font-size: 1rem;
  }
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 1280px;
}

.about > div {
  width: 50%;
}

.about > div img {
  width: 100%;
}

.about #old-pic {
  position: relative;
}

.about .white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.about #about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.about #about-content h2 {
  color: #000000;
}

.about #about-content h3 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 825px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about > div {
    width: auto;
  }
}

.menus {
  position: relative;
  height: auto;
  padding: 0;
}

#menu-container {
  position: relative;
  min-height: 700px;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-container h2 {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
}

#menu-container .menu-types {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

#menu-container .menu-types > div {
  position: relative;
  width: 300px;
  height: 300px;
  border: 4px solid #ffffff;
  margin: 10px 10px 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#menu-container .menu-types > div h3 {
  position: absolute;
  width: 100%;
  bottom: -60px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
  font-style: normal;
  color: #ffffff;
}

#menu-container .menu-types > div:active h3 {
  -webkit-text-decoration: underline wavy;
          text-decoration: underline wavy;
}

#menu-container .menu-types > div:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

#menu-container .menu-types img {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: scroll;
  background-size: cover;
  background-position: center center;
  z-index: 80;
  display: none;
}

#menu-overlay .menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  min-height: 100%;
  padding: 30px 15px 20px 30px;
  background-color: rgba(255, 255, 255, 0.95);
}

#menu-overlay .menu-container h2 {
  font-family: "Lobster Two", cursive;
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #092645;
  margin-bottom: 20px;
}

#menu-overlay .menu-container .subcategory {
  position: relative;
  width: 80%;
  margin: 30px 0;
}

#menu-overlay .menu-container .subcategory .grid {
  position: relative;
  width: 100%;
  -webkit-column-width: 250px;
          column-width: 250px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-fill: auto;
          column-fill: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

#menu-overlay .menu-container h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#menu-overlay .menu-container .item {
  position: relative;
  margin: 15px 30px 15px 0;
  line-height: 1;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  border-bottom: 1px solid #aaaaaa;
}

#menu-overlay .menu-container .item .title {
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

#menu-overlay .menu-container .item .description {
  line-height: 1.2;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  width: 50%;
}

#menu-overlay .menu-container .item .price {
  position: absolute;
  font-size: 1.1rem;
  color: #092645;
  font-weight: 600;
  top: 0;
  right: 0;
  opacity: 0.85;
}

#menu-overlay .menu-btn {
  position: fixed;
  background: none;
  border: none;
  width: 100px;
  height: 80px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: 2px solid;
  z-index: 5;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: none;
}

#menu-overlay #right-btn {
  right: 30px;
  border-radius: 0 50% 50% 0;
  display: block;
}

#menu-overlay #right-btn:hover {
  background-color: #ffffff;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#menu-overlay #left-btn {
  left: 15px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  border-radius: 50% 0 0 50%;
  display: block;
}

#menu-overlay #left-btn:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  -webkit-filter: none;
          filter: none;
}

.event {
  position: relative;
  min-height: 600px;
  margin-bottom: 50px;
}

.event h2 {
  text-align: center;
}

#events-container {
  position: relative;
  min-height: 500px;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#events-container > div {
  position: relative;
  width: 50%;
  min-width: 300px;
  min-height: 500px;
  margin-top: 25px;
}

#events-container > div h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #092645;
  opacity: 0.8;
  padding: 15px;
}

#events-container > div .event-item,
#events-container > div .news-item {
  padding: 25px 30px;
  position: relative;
}

#events-container > div .event-item h4,
#events-container > div .news-item h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.8;
}

#events-container > div .event-item span,
#events-container > div .news-item span {
  display: block;
}

#events-container > div .news-item {
  padding-bottom: 40px;
}

#events-container > div .news-item .read-more {
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #092645;
  font-size: 0.9rem;
  font-weight: 700;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#events-container > div .news-item .read-more:hover {
  color: #ffffff;
  background-color: #092645;
}

#events-container > div .event-item {
  padding-left: 80px;
}

#events-container > div .event-item .event-month {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 7px 5px;
  border: 2px dotted;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 30px;
}

#events-container > div .event-item .date, #events-container > div .event-item .time {
  display: inline-block;
}

#events-container > div .event-item .view-event {
  margin-left: 15px;
  color: #092645;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding: 5px 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#events-container > div .event-item .view-event:hover {
  color: skyblue;
}

#news-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 50;
}

#news-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(100%);
          filter: blur(100%);
  z-index: -1;
}

#news-overlay .news-overlay {
  position: relative;
  max-width: 1080px;
  height: 100%;
  padding: 50px 15px 15px 20px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
}

#news-overlay .news-overlay h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #092645;
  opacity: 0.85;
}

#news-overlay .news-overlay p {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}

#news-overlay .news-overlay img {
  width: 100%;
  max-width: 800px;
}

#news-overlay .news-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.close-news {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 25px;
  right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
}

.close-news:before, .close-news:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5px;
  margin-left: -15px;
  display: block;
  height: 5px;
  width: 30px;
  background-color: #092645;
  opacity: 0.85;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.close-news:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-news:hover:before, .close-news:hover:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.no-show {
  display: none;
}

.yes-show {
  display: block;
}

.location {
  position: relative;
  height: 70vh;
  max-height: 500px;
  padding: 0;
}

.location p {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1rem;
  z-index: 1;
}

.location #mapid {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.contact {
  position: relative;
  height: 30vh;
  min-height: 500px;
  margin-top: 20px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contact::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.contact h2 {
  text-align: center;
  margin: 40px 0;
}

.contact .whitebg {
  position: absolute;
  max-width: 500px;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 1;
}

#contact {
  position: relative;
  display: block;
  max-width: 350px;
  margin: 90px auto 0 auto;
  text-align: left;
  color: #092645;
  z-index: 1;
}

#contact h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
  margin-left: 30px;
  position: relative;
}

#contact h4 a {
  color: #092645;
}

#contact h4 a:hover {
  color: lightseagreen;
}

#contact h4 i, #contact h4 svg {
  position: absolute;
  left: -25px;
  top: 10px;
}

@media only screen and (max-width: 400px) {
  #contact h4 {
    font-size: 1rem;
  }
}

/*-----------------
--CSS LOADER-------
-----------------*/
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: none;
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.cssload-loader {
  height: 90px;
  width: 92px;
  position: absolute;
  left: calc(50% - 45px);
  top: calc(50% - 45px);
  opacity: 1;
  animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -o-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -ms-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -webkit-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -moz-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

.cssload-top {
  animation: cssload-top 5.75s linear infinite;
  -o-animation: cssload-top 5.75s linear infinite;
  -ms-animation: cssload-top 5.75s linear infinite;
  -webkit-animation: cssload-top 5.75s linear infinite;
  -moz-animation: cssload-top 5.75s linear infinite;
  border-top: 45px solid #ff242f;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  height: 0px;
  width: 2px;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
}

.cssload-bottom {
  animation: cssload-bottom 5.75s linear infinite;
  -o-animation: cssload-bottom 5.75s linear infinite;
  -ms-animation: cssload-bottom 5.75s linear infinite;
  -webkit-animation: cssload-bottom 5.75s linear infinite;
  -moz-animation: cssload-bottom 5.75s linear infinite;
  border-right: 45px solid transparent;
  border-bottom: 45px solid #ff242f;
  border-left: 45px solid transparent;
  height: 0px;
  width: 2px;
  transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
}

.cssload-line {
  animation: cssload-line 5.75s linear infinite;
  -o-animation: cssload-line 5.75s linear infinite;
  -ms-animation: cssload-line 5.75s linear infinite;
  -webkit-animation: cssload-line 5.75s linear infinite;
  -moz-animation: cssload-line 5.75s linear infinite;
  border-left: 2px dotted #ff242f;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 45px;
  left: 45px;
}

@keyframes cssload-loader {
  90% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes cssload-loader {
  90% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes cssload-top {
  90% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes cssload-top {
  90% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
  }
}

@keyframes cssload-bottom {
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes cssload-bottom {
  10% {
    -webkit-transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes cssload-line {
  10% {
    height: 45px;
  }
  100% {
    height: 45px;
  }
}

@-webkit-keyframes cssload-line {
  10% {
    height: 45px;
  }
  100% {
    height: 45px;
  }
}

/*------------------
KEYFRAMES
------------------*/
@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 70px;
  }
}
