
/* -------------------------------- 
Navigation
-------------------------------- */
.my-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
}

@media only screen and (min-width: 768px) {
  .my-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#my-logo {
  width: 25%;
  max-width: 320px;
  position: relative;
  margin: 0 auto;
  img {
    display: block;
  }
}


@media only screen and (min-width: 1170px) {
  #my-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
  }
  #my-logo.is-hidden.slide-in {
    /* slide in when the main navigation gets fixed */
    width: 180px;
    margin-top: -15px;
    left: 1%;
    opacity: 1;
    transition: left 0.3s, opacity 0.3s;
  }
}

/* -------------------------------- 
contact
-------------------------------- */
#my-contact {
  position: relative;
  height: 300px;
  background-position: center center;
  background-size: cover;
  z-index: 2;
  &::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }

  #my-contact-address {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
  }
  h1 {
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  h2 {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 600;
    a {
      color: skyblue;
    }
    &:hover a {
      color: $blue;
    }
  }

}
@media only screen and (min-width: 768px) {
  #my-contact {
    height: 400px;
    z-index: 4;
    #my-contact-address {
      padding-top: 160px;
    }
    h1{
      font-size: 32px;
      font-size: 2rem;
    }
    h2 {
      font-size: 1.4rem;
    }
}
}
@media only screen and (min-width: 1170px) {
  #my-contact {
    height: 600px;
  #my-contact-address {
    padding-top: 250px;
  }
}
}

.my-btn {
  display: inline-block;
  padding: 1em 1.6em;
  margin-top: 0.9em;
  border-radius: 20em;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1.5px solid #ffffff;
  color: white;
}
.no-touch .my-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media only screen and (min-width: 1170px) {
  .my-btn {
    padding: 1em 1.8em;
   z-index: 5;
    
  }
  .my-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .8em 1.2em;
    margin: 14px 0 0;
    transition: right 0.3s, opacity 0.3s;
  }
  .my-btn.is-hidden.slide-in {
    /* slide in when the main nav gets fixed */
    margin-top: 10px;
    right: 5%;
    opacity: 1;
  }
}

/* -------------------------------- 
main Fixed Navigation
-------------------------------- */
.my-main-nav {
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ul {
    /* mobile first - main navigation hidden by default, triggered by tap/click on .my-main-nav-trigger*/
    position: fixed;
    list-style-type: none;
    width: 90%;
    max-width: 400px;
    right: 5%;
    bottom: 20px;
    border-radius: 0.25em;
    background: $red;
    visibility: hidden;
    z-index: 1;
    backface-visibility: hidden;
    transform: scale(0);
    transform-origin: 100% 100%;
    transition: transform 0.3s, visibility 0s 0.3s;
    box-shadow: -5px 5px 20px -8px #000000;
    &.is-visible {
      visibility: visible;
      transform: scale(1);
      transition: transform 0.3s, visibility 0s 0s;
		}
		span {
			display: none;
		}
  }
  li a {
    display: block;
    padding: 1.6em;
    color: #ffffff;
    &:hover b, 
    &.active b {
        font-weight: 800;
        border-bottom: 1.5px dashed; 
    }
  }

  
}

@media only screen and (min-width: 1170px) {
  .my-main-nav {
    z-index: 1;
    height: 100px;
    background-color: $red;
    transition: height 0.3s;
    nav,
    ul,
    li,
    a {
      height: 100%;

    }
    ul {
      /* reset navigation values */
      position: static;
      width: auto;
      max-width: 100%;
      visibility: visible;
      transform: scale(1);
      text-align: center;
      background-color: transparent;
    }
    li {
      display: inline-block;
      margin-left: -4px;
      a {
        position: relative;
        text-align: center;
        display: block;
        padding: 58px 40px 0 40px;
        border-bottom: none;
        transition: padding 0.2s;
        b {
          text-transform: uppercase;
          font-size: 13px;
          font-size: 0.8125rem;
          font-weight: 700;
          color: #f0eee1;
        }
        span {
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 40px;
          top: 18px;
          left: 50%;
          right: auto;
          transform: translateX(-50%);
          transition: opacity 0.2s;
        }
      }
    }
  }

  .my-main-nav.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    &.animate-children {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      li a {
        padding: 26px 30px 0 30px;
        span {
          opacity: 0;
        }
      }
    }
  }
}

.my-main-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: $red;
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  box-shadow: 0px 2px 15px -3px #000000;
  z-index: 2;
  span {
    /* the span element is used to create the menu icon */
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f0eee1;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: background 0.3s;
    &::before, 
    &::after {
      content: '';
      position: absolute;
      background: inherit;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &::before {
      right: -10px;
      transform: rotate(0);
    }
    &::after {
      left: -10px;
      transform: rotate(0);
    }
  }
  &.menu-is-open {
    span {
      background: rgba(240, 238, 225, 0);
      width: 20px;
      height: 2px;
      &::before,
      &::after{
        background: #f0eee1;
        width: 100%;
        height: 100%;
        border-radius: 0;
        top: 0;
        left: 0;
      }
      &::before {
        transform: rotate(135deg);
      }
      &::after {
        transform: rotate(225deg);
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .my-main-nav-trigger {
    display: none;
  }
}