
// color
$body-bg: #f5f8fa;
$red: #e32929;
$blue: #092645;

// Typography
$raleway: 'Raleway', sans-serif;
$lobster: 'Lobster Two', cursive;
$playfair: 'Playfair Display', serif;
$opensans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


