@import "variables";
@import "fonts";
@import "header";
@import "footer";
/* -------------------------------- 
Primary style
-------------------------------- */

body {
  font-size: 100%;
  font-family: $opensans;
  color: #030d18;
  background-color: #ffffff;
}
a { 
  text-decoration: none !important;
}
img {
  max-width: 100%;
}

/* -------------------------------- 
Modules 
-------------------------------- */
.my-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  margin: 0 auto;
}

.has-top-margin {
}

@media only screen and (min-width: 1170px) {
  .has-top-margin {
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

/* -------------------------------- 
Sections
-------------------------------- */
.my-section {
  margin: 0 auto;
  padding: 2em 0;
  width: 100%;
  
  h2 {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: .6em;
    font-family: $lobster;
    font-style: italic;
    font-weight: 800;
    color: black;
    
  }
  h3{
    font-size: 1.3rem;
    font-family: $playfair;
    font-weight: 500;
    font-style: italic;
  }
  p {
    line-height: 1.6;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1170px) {
  .my-section {
    margin: 0 auto;
    padding: 4em 0;
    h2 {
      font-size: 30px;
      font-size: 3rem;
      
    }
    p {
      font-size: 20px;
      font-size: 1rem;
    }
  }

}


.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1280px;

  > div {
    width: 50%;
    img {
      width: 100%;  
    }
  }
  #old-pic {
    position: relative;
  }
  .white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
  }


  #about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    
    h2 {
      color: #000000;
    }
    h3 {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 825px) {
  .about {
    flex-direction: column-reverse;
    > div {
      width: auto;
    }
  }
}


.menus {
  position: relative;
  height: auto;
  padding: 0;
}

#menu-container {
  position: relative;
  min-height: 700px;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h2 {
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
  }
  .menu-types {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    > div {
      position: relative;
      width: 300px;
      height: 300px;
      border: 4px solid #ffffff;
      margin: 10px 10px 50px ;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      h3 {
        position: absolute;
        width: 100%;
        bottom: -60px;
        font-size: 2rem;
        text-transform: uppercase;
        font-family: $lato;
        font-weight: 900;
        text-align: center;
        font-style: normal;
        color: #ffffff;
      }
      &:active h3{
        text-decoration: underline wavy;
      }
      &:hover {
        background-color: rgba(255,255,255, 0.85);
      }
    }
     img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  } 
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: scroll;
  background-size: cover;
  background-position: center center;
  z-index: 80;
  display: none;

  .menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    min-height: 100%;
    padding: 30px 15px 20px 30px;
    background-color: rgba(255,255,255,0.95);
    h2 {
      font-family: $lobster;
      text-transform: capitalize;
      font-size: 3rem;
      letter-spacing: 2px;
      font-weight: 700;
      color: $blue;
      margin-bottom: 20px;
    }
    .subcategory {
      position: relative;
      width: 80%;
      margin: 30px 0;
 
      .grid {
        position: relative;
        width: 100%;
        column-width: 250px;
        column-count: 2;
        column-fill: auto;
        column-gap: 20px;
        
      }
    }
    h3 {
      font-family: $raleway;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .item {
      position: relative;
      margin: 15px 30px 15px 0;
      line-height: 1;
      break-inside: avoid;
      border-bottom: 1px solid #aaaaaa;
      .title {
        text-transform: capitalize;
        font-family: $lato;
        font-size: 1.1rem;
      }
      .description {
        line-height: 1.2;
        font-size: 0.8rem;
        font-family: $opensans;
        text-transform: uppercase;
        width: 50%;
      }
      .price {
        position: absolute;
        font-size: 1.1rem;
        color: $blue;
        font-weight: 600;
        top: 0;
        right: 0;
        opacity: 0.85;
      }
     
    }
  }
  .menu-btn {
    position: fixed;
    background: none;
    border: none;
    width: 100px;
    height: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 2px solid;
    z-index: 5;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: none;
  }
  #right-btn {
    right: 30px;
    border-radius: 0 50% 50% 0;
    display: block;
    &:hover {
      background-color: #ffffff;
      filter: invert(100%);
    }
  }

  #left-btn {
    left: 15px;
    filter: invert(100%);
    border-radius: 50% 0 0 50%;
    display: block;
    &:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      filter: none;
    }
  }

}

//-- Events main container
.event {
  position: relative;  
  min-height: 600px;
  margin-bottom: 50px;
  h2 {
    text-align: center;
  }
}
#events-container {
  position: relative;
  min-height: 500px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  >div {
    position: relative;
    width: 50%;
    min-width: 300px;
    min-height: 500px;
    margin-top: 25px;
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $blue;
      opacity: 0.8;
      padding: 15px;
    }
    .event-item, 
    .news-item {
      padding: 25px 30px;
      position: relative;
      
      h4 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 800;
        opacity: 0.8;
      }
      
      span {
        display: block;
      }

    }
    .news-item {
      padding-bottom: 40px;
      .read-more {
        text-transform: uppercase;
        position: absolute;
        right: 20px;
        bottom: 0;
        color: $blue;
        font-size: 0.9rem;
        font-weight: 700;
        border: 1px solid;
        padding: 5px 10px;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #ffffff;
          background-color: $blue;
        }
      }
    }
    .event-item {
      padding-left: 80px;
      .event-month {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        padding: 7px 5px;
        border: 2px dotted;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: 30px;
      }
      .date,.time {
        display: inline-block;
      }
      .view-event {
        margin-left: 15px;
        color: $blue;
        text-transform: uppercase;
        font-family: $raleway;
        font-weight: 700;
        font-size: 0.85rem;
        letter-spacing: 1px;
        padding: 5px 3px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: skyblue;
        }
      }
    }
  }
}
 
// 
#news-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 50;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    filter: blur(100%);
    z-index: -1;
  }    
  .news-overlay {
    position: relative;
    max-width: 1080px;
    height: 100%;
    padding: 50px 15px 15px 20px;
    margin: 0 auto;    
    background-color: rgba(255,255,255,0.9);    
    overflow-y: scroll;
    h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 700;
      color: $blue;
      opacity: 0.85;
    } 
    p {
      font-size: 1rem;
      font-family: $playfair;
    }
    img {
      width: 100%;
      max-width: 800px;
    }
  }
  .news-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    filter: grayscale(70%);
  }

}


.close-news {
	$size: 30px;
	height: $size;
  width: $size;
  position: absolute;
  top: 25px;
  right: 40px;
	box-sizing: border-box;
	line-height: $size;
  display: inline-block;
  cursor: pointer;
	&:before, &:after {
		$width: 30px;
		$height: 5px;
		transform: rotate(-45deg);
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$height/2;
		margin-left: -$width/2;
		display: block;
		height: $height;
		width: $width;
    background-color: $blue;
    opacity: 0.85;
    transition: all 0.2s ease-out;
    
	}

	&:after {
		transform: rotate(45deg);
	}

	&:hover {

		&:before, &:after {
			transform: rotate(0deg);
		}
	}
}
.no-show {
  display: none;
}

.yes-show {
  display: block;
}



.location {
  position: relative;
  height: 70vh;
  max-height: 500px;
  padding: 0;
  p {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1rem;
    z-index: 1;
  }
  #mapid {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.contact {
  position: relative;
  height: 30vh;
  min-height: 500px;
  margin-top: 20px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
  }
  h2 {
    text-align: center;
    margin: 40px 0;
  }
  .whitebg {
    position: absolute;
    max-width: 500px;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 1;
  }
}

#contact {
  position: relative;
  display: block;
  max-width: 350px;
  margin: 90px auto 0 auto;
  text-align: left;
  color: $blue;
  z-index: 1;
  h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2;
    margin-left: 30px;
    position: relative;
    a {
      color: $blue;
      &:hover {
        color: lightseagreen;
      }
    }
    i,svg{
      position: absolute;
      left: -25px;
      top: 10px;
    }
  }
}

@media only screen and (max-width: 400px) {
  #contact h4 {
    font-size: 1rem;
  }
}


/*-----------------
--CSS LOADER-------
-----------------*/
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: none;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  
}

.cssload-loader {
	height: 90px;
	width: 92px;
  position: absolute;
  left:calc(50% - 45px);
  top: calc(50% - 45px);
  opacity: 1;
	animation: cssload-loader 5.75s cubic-bezier(.8,0,.2,1) infinite;
		-o-animation: cssload-loader 5.75s cubic-bezier(.8,0,.2,1) infinite;
		-ms-animation: cssload-loader 5.75s cubic-bezier(.8,0,.2,1) infinite;
		-webkit-animation: cssload-loader 5.75s cubic-bezier(.8,0,.2,1) infinite;
		-moz-animation: cssload-loader 5.75s cubic-bezier(.8,0,.2,1) infinite;
}

.cssload-top {
	animation: cssload-top 5.75s linear infinite;
		-o-animation: cssload-top 5.75s linear infinite;
		-ms-animation: cssload-top 5.75s linear infinite;
		-webkit-animation: cssload-top 5.75s linear infinite;
		-moz-animation: cssload-top 5.75s linear infinite;
	border-top: 45px solid rgb(255,36,47);
	border-right: 45px solid transparent;
	border-left: 45px solid transparent;
	height: 0px;
	width: 2px;
	transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
}

.cssload-bottom {
	animation: cssload-bottom 5.75s linear infinite;
		-o-animation: cssload-bottom 5.75s linear infinite;
		-ms-animation: cssload-bottom 5.75s linear infinite;
		-webkit-animation: cssload-bottom 5.75s linear infinite;
		-moz-animation: cssload-bottom 5.75s linear infinite;
	border-right: 45px solid transparent;
	border-bottom: 45px solid rgb(255,36,47);
	border-left: 45px solid transparent;
	height: 0px;
	width: 2px;
	transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
	transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
}

.cssload-line {
	animation: cssload-line 5.75s linear infinite;
		-o-animation: cssload-line 5.75s linear infinite;
		-ms-animation: cssload-line 5.75s linear infinite;
		-webkit-animation: cssload-line 5.75s linear infinite;
		-moz-animation: cssload-line 5.75s linear infinite;
	border-left: 2px dotted rgb(255,36,47);
	height: 0px;
	width: 0px;
	position: absolute;
	top: 45px;
	left: 45px;
}


@keyframes cssload-loader {
	90% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}

@-o-keyframes cssload-loader {
	90% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(180deg); }
}

@-ms-keyframes cssload-loader {
	90% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(180deg); }
}

@-webkit-keyframes cssload-loader {
	90% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(180deg); }
}

@-moz-keyframes cssload-loader {
	90% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(180deg); }
}

@keyframes cssload-top {
	90% { transform: scale(0); }
	100% { transform: scale(0);}
}

@-o-keyframes cssload-top {
	90% { -o-transform: scale(0); }
	100% { -o-transform: scale(0);}
}

@-ms-keyframes cssload-top {
	90% { -ms-transform: scale(0); }
	100% { -ms-transform: scale(0);}
}

@-webkit-keyframes cssload-top {
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0);}
}

@-moz-keyframes cssload-top {
	90% { -moz-transform: scale(0); }
	100% { -moz-transform: scale(0);}
}

@keyframes cssload-bottom {
	10% { transform: scale(0); }
	90% { transform: scale(1); }
	100% { transform: scale(1); }
}

@-o-keyframes cssload-bottom {
	10% { -o-transform: scale(0); }
	90% { -o-transform: scale(1); }
	100% { -o-transform: scale(1); }
}

@-ms-keyframes cssload-bottom {
	10% { -ms-transform: scale(0); }
	90% { -ms-transform: scale(1); }
	100% { -ms-transform: scale(1); }
}

@-webkit-keyframes cssload-bottom {
	10% { -webkit-transform: scale(0); }
	90% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

@-moz-keyframes cssload-bottom {
	10% { -moz-transform: scale(0); }
	90% { -moz-transform: scale(1); }
	100% { -moz-transform: scale(1); }
}

@keyframes cssload-line {
	10% { height: 45px; }
	100% { height: 45px; }
}

@-o-keyframes cssload-line {
	10% { height: 45px; }
	100% { height: 45px; }
}

@-ms-keyframes cssload-line {
	10% { height: 45px; }
	100% { height: 45px; }
}

@-webkit-keyframes cssload-line {
	10% { height: 45px; }
	100% { height: 45px; }
}

@-moz-keyframes cssload-line {
	10% { height: 45px; }
	100% { height: 45px; }
}

/*------------------
KEYFRAMES
------------------*/

@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
